@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=Poppins:wght@800&display=swap');

nav {
  font-family: 'Orbitron', sans-serif;
}
.container .tittle,
.container h2 {
    font-family: 'Poppins', sans-serif;
}

.custom-img-size {
  width: 50px; 
  height: auto; 
}

button, h1, .contacto, .btn {
  font-family: 'Orbitron', sans-serif !important;
}
